/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* La police est maintenant gérée par tailwind.config.js, mais garder ceci est une bonne pratique */
  font-family: var(--font-geist-sans);
}

code, pre {
  font-family: var(--font-geist-mono);
}